@page
@model RazorPagesBasics.Pages.Modul003.GallerySample1Model
@{
}

<h1>Gallery Sample 1</h1>


<div class="row">
    @foreach (var item in Model.Bilder)
    {
        <div class="col-12 col-md-4">
            <img class="img-fluid" src="~/images/@System.IO.Path.GetFileName(item)" />
        </div>
    }

</div>