@page
@model RazorPagesBasics.Pages.Modul003.PictureUploadSampleModel
@{
}

<h1>Picture Upload Sample</h1>

<form enctype="multipart/form-data" method="post">
    <input type="file" name="datei" dirname="C:\" />
    <input type="submit" />
</form>
